/* inicio da estilização */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* corpo da page */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 106vh;
  background: linear-gradient(#2c2e26 50%, #40512b 50%);
}

.logo {
  margin-top: 7px; /* Ajuste conforme necessário */
}

.logo-img {
  width: 110px; /* ajuste conforme necessário */
  height: 80px; /* ajuste conforme necessário */
}

/* box */

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
  width: 90vw;
  max-width: 37.5em;
  background-color: #ffffff;
  padding: 1.8em;
  border-radius: 0.6em;
  box-shadow: 0 1em 3em rgba(2, 9, 38, 0.25);
}

/* Botão de Busca */
.search-container {
  position: relative;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1em;
  margin-bottom: 1.2em;
}

.search-container input {
  font-size: 1em;
  padding: 0.6em 0.3em;
  border: none;
  color: #2c2e26;
  border-bottom: 1.5px solid #2c2e26;
}

.search-container input:focus {
  border-color: #2c2e26;
}

.search-container button {
  font-size: 1em;
  border-radius: 2em;
  background-color: #8cb479;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}

#search-btn {
  padding-left: -2px; /* Adapte conforme necessário */
}

#search-btn img {
  position: absolute;
  right: 17px; /* Ajuste conforme necessário */
  top: 51%;
  transform: translateY(-50%);
}

/* Resultado */
#result {
  color: #575a7b;
  line-height: 2em;
}

#result img {
  display: block;
  max-width: 12.5em;
  margin: auto;
  box-shadow: 0px 2px 3px 3px rgba(79, 79, 79, 0.75);
  -webkit-box-shadow: 0px 2px 3px 3px rgba(79, 79, 79, 0.75);
  -moz-box-shadow: 0px 2px 3px 3px rgba(79, 79, 79, 0.75);
}

#result h2 {
  font-size: 1.25em;
  margin: 0.8em 0 1.6em 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #2c2e26;
  position: relative;
}

#result h2::before {
  content: "";
  position: absolute;
  width: 15%;
  height: 3px;
  background-color: #2c2e26;
  left: 42.5%;
  bottom: -0.3em;
}

#result h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.2em;
  color: #1f194c;
}

#result ul {
  margin-bottom: 1em;
  margin-left: 1.8em;
  display: grid;
  grid-template-columns: auto auto;
}

#result li {
  margin-bottom: 0.3em;
}

#result p {
  text-align: justify;
  font-weight: 400;
  font-size: 0.95em;
}

/* Mensagem */
.msg {
  text-align: center;
}

/* Media Queries */

@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
}
